.load{ 
    border: 2px solid linear-gradiant(blue,orange,red);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation: anime 1s linear infinite ;
}


@keyframes anime {
    from{
        transform:rotate(0deg);
    }
  to{
    transform:rotate(360deg);
  }
  
}
